/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,600;0,700;1,500&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* =============header part start=============== */
header{
    width: 100%;
    height: 800px;
}
.hero-part{
    
    background-color: #FFD4CF;
    padding:0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text{
    width: 700px;
    
}
.btn-shop{
    
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #E55473;

}
/* =============header part end=============== */
   
/* =============Featured part Start=============== */
.featured-text{
    text-align: center;
    margin-top: 100px;
    
    }
   .featured-img1 img{
    width:300px;
    height: 300px;
    padding: 30px 30px 0 30px;
    background-color: #FFD4CF;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;

   }
   .featured-img2 img{
    width: 300px;
    height: 300px;
    padding: 30px 30px 0 30px;
    background-color: #87b7ba;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
   }
   .featured-img3 img{
    width: 300px;
    height: 300px;
    padding: 30px 30px 0 30px;
    background-color: #BEE49D;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
   }
   .featured-part{
    margin-top: 50px;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
   }
   .featured-part hr{
    width: 50%;
    margin: 0 auto;
   }
   .featured-part p{
   text-align: center;
    
   
   }
/* =============Featured part End=============== */

/*------------- Service part start --------------*/
.service-section{
    margin: 100px 120px;
    background-color: #ECECEC;
    
}
.our-servise{
    padding: 50px 120px;
    display: flex;
    justify-content: space-around;
    text-align: center;
   
  
}

/*------------- Service part end------------------ */

/*-------------------- hot deal start ---------------------*/
.hot-deal{
    width: 100%;
    background-color: #FFD4CF;
    margin-bottom: 100px;
}
.offer-part{
    padding: 50px 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.offer-percent{
    width: 500px;
    text-align: center;
}
.offer-flower img{
    width: 300px;
    height: 300px;
}
/*-------------------- hot deal end ---------------------*/
/* ---------------------instagram part start------------------- */
.instagram{
   
    text-align: center;
   
}
.instagram-product{
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.instagram-product img{
    width: 200px;
    height: 200px;
    margin-right: 10px;
}
/* ---------------------instagram part end------------------- */
/*------------------ latest deal start -----------------*/
.latest-deal{
   padding: 0 120px;
   position: relative;
   
}
.latest-text{
    position: absolute;
    top: 100px;
    left: 400px;
   
}
.latest-deal img{
    width: 100%;
   
}

.latest-text input{
    width: 300px;
    height: 35px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
}
/*------------------ latest deal end -----------------*/